.header { height: 50px; background: #ff0000; } 
.banner { height: 100px; background: pink; } 
.nav { height: 50px; background: orange; font-family: "myfont"; } 
.side { width: 100px; background: blue; } 
.footer { height: 50px; background: green; } 
.box { display: flex; } 